.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  display: flex;
  align-items: center;
}

.card-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.card-text {
  flex: 1;
}

.card-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card-continent {
  font-size: 14px;
}
